
*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    background: #DAEBF2;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.d-none{
    display: none;
}
header{
    background-color: #296073;
    height: 70px;
}
.pantallaUno{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    height: 400px;

}

.pantallaUno h1{
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 23px;
}
.pantallaUno h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    text-align: center;
}
.pantallaUno h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15px;
    
}
#agregar {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#agregar:hover {
    background-color: #559457;
}
#tarea{
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    margin: 20px;
}
#btnImg{
    border-radius: 5px;
    cursor: pointer;
    background-color: #5FD1BD;
    padding: 10px;
    width: 210px;
    & span{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
#listTarea{
    background-color: #717AAE;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#time{
    border-radius: 5px;
    padding: 3px;
    background-color: #D4EAE2;
}

#btn{
    position: fixed;
    bottom: 130px;
    right: 34px;
    border-radius: 25%;
    background-color: aquamarine;
    border: 1px solid white;
    width: 70px;
    height: 70px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 4px 0;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
footer{
    text-align: center;
    padding: 20px;
    margin-top: auto;
    background: #296073;
    
}
footer a{
    color: aliceblue;
    text-decoration: none;
}

.opciones{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    min-height: 70vh;
    align-items: center;
    display: none;
}
#from{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

}
#imagenes{
    width: 300px;
    background: #309A9B;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
}
.img{
    display: flex;
    height: 170px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    display: none;
    & img {
        width: 66px;
        height: 65px;
        margin: 5px;
        padding: 5px;
        cursor: pointer;
        border-radius: 20px;
    }
}
.seleccionado{
    border: 3px solid #8A1D00;
    border-radius:8px;
    
}
#imgSeleccionada{
    border-radius: 20px;
}

#seleccion{
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.listado-holder{
    display: block;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    padding: 16px;
    border-radius: 16px;
    & ul {
        display: flex;
        gap: 8px;
    }
}
.card{
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.img-seleccionada{
    width: 66px;
    height: 65px;
    margin: 5px;
    padding: 5px;
}
.listado-holder{
    display: none;
}
.listado {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center; 
    & li {
        display: flex;
    list-style: none;
    margin: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    }
    & img {
        width: 66px;
        height: 65px;
        margin: 5px;
        padding: 5px;
        border-radius: 20px;
    }
  
}

.bg-red{
    background-color: rgb(145, 48, 48);
}
.bg-amarillo{
    background-color: rgb(242, 221, 30);
}
.bg-verde{
    background-color: rgb(4, 69, 35);
}